<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-subject-heading" jhiTranslate="jhipsterSampleApplicationApp.subject.home.createOrEditLabel">Create or edit a Subject</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.subject.classname" for="field_classname">Classname</label>
                    <input type="text" class="form-control" name="classname" id="field_classname"
                           formControlName="classname"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.subject.section" for="field_section">Section</label>
                    <input type="text" class="form-control" name="section" id="field_section"
                           formControlName="section"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.subject.subjectName" for="field_subjectName">Subject Name</label>
                    <input type="text" class="form-control" name="subjectName" id="field_subjectName"
                           formControlName="subjectName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.subject.subjectCode" for="field_subjectCode">Subject Code</label>
                    <input type="text" class="form-control" name="subjectCode" id="field_subjectCode"
                           formControlName="subjectCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.subject.subjectTeacher" for="field_subjectTeacher">Subject Teacher</label>
                    <input type="text" class="form-control" name="subjectTeacher" id="field_subjectTeacher"
                           formControlName="subjectTeacher"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.subject.studentMarkes" for="field_studentMarkes">Student Markes</label>
                    <select class="form-control" id="field_studentMarkes" name="studentMarkes" formControlName="studentMarkes">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="studentMarkesOption.id === editForm.get('studentMarkes')!.value?.id ? editForm.get('studentMarkes')!.value : studentMarkesOption" *ngFor="let studentMarkesOption of studentmarkes; trackBy: trackById">{{ studentMarkesOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
