<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.attendence.home.title">Attendences</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-attendence" [routerLink]="['/attendence/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.attendence.home.createLabel">
            Create a new Attendence
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="attendences?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.attendence.home.notFound">No attendences found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="attendences?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.attendence.month">Month</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.attendence.totalWorkingDays">Total Working Days</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.attendence.dayspresent">Dayspresent</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.attendence.student">Student</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let attendence of attendences ;trackBy: trackId">
                    <td><a [routerLink]="['/attendence', attendence.id, 'view']">{{ attendence.id }}</a></td>
                    <td>{{ attendence.month | date:'mediumDate' }}</td>
                    <td>{{ attendence.totalWorkingDays }}</td>
                    <td>{{ attendence.dayspresent }}</td>
                    <td>
                        <div *ngIf="attendence.student">
                            <a [routerLink]="['/student', attendence.student?.id, 'view']" >{{ attendence.student?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/attendence', attendence.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/attendence', attendence.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(attendence)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
