<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="section">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.section.detail.title">Section</span> {{ section.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.section.name">Name</span></dt>
                <dd>
                    <span>{{ section.name }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.section.sectionNumber">Section Number</span></dt>
                <dd>
                    <span>{{ section.sectionNumber }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.section.className">Class Name</span></dt>
                <dd>
                    <div *ngIf="section.className">
                        <a [routerLink]="['/class-name', section.className?.id, 'view']">{{ section.className?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/section', section.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
