<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="attendence">
      <h2 data-cy="attendenceDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.attendence.detail.title">Attendence</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ attendence.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.attendence.month">Month</span></dt>
        <dd>
          <span>{{ attendence.month | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.attendence.totalWorkingDays">Total Working Days</span></dt>
        <dd>
          <span>{{ attendence.totalWorkingDays }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.attendence.dayspresent">Dayspresent</span></dt>
        <dd>
          <span>{{ attendence.dayspresent }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.attendence.student">Student</span></dt>
        <dd>
          <div *ngIf="attendence.student">
            <a [routerLink]="['/student', attendence.student?.id, 'view']">{{ attendence.student?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/attendence', attendence.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
