<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.staffSalary.home.title">Staff Salaries</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-staff-salary" [routerLink]="['/staff-salary/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.staffSalary.home.createLabel">
            Create a new Staff Salary
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="staffSalaries?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.staffSalary.home.notFound">No staffSalaries found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="staffSalaries?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.staffSalary.salaryPaid">Salary Paid</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.staffSalary.month">Month</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.staffSalary.staff">Staff</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let staffSalary of staffSalaries ;trackBy: trackId">
                    <td><a [routerLink]="['/staff-salary', staffSalary.id, 'view']">{{ staffSalary.id }}</a></td>
                    <td>{{ staffSalary.salaryPaid }}</td>
                    <td>{{ staffSalary.month }}</td>
                    <td>
                        <div *ngIf="staffSalary.staff">
                            <a [routerLink]="['/staff', staffSalary.staff?.id, 'view']" >{{ staffSalary.staff?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/staff-salary', staffSalary.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/staff-salary', staffSalary.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(staffSalary)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
