<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.staff.home.title">Staff</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-staff" [routerLink]="['/staff/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.staff.home.createLabel">
            Create a new Staff
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="staff?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.staff.home.notFound">No staff found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="staff?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.staff.staffId">Staff Id</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.staff.staffName">Staff Name</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.staff.phoneNumber">Phone Number</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.staff.address">Address</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.staff.photo">Photo</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.staff.isTeachingStaff">Is Teaching Staff</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.staff.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.staff.salary">Salary</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let staff of staff ;trackBy: trackId">
                    <td><a [routerLink]="['/staff', staff.id, 'view']">{{ staff.id }}</a></td>
                    <td>{{ staff.staffId }}</td>
                    <td>{{ staff.staffName }}</td>
                    <td>{{ staff.phoneNumber }}</td>
                    <td>{{ staff.address }}</td>
                    <td>
                        <a *ngIf="staff.photo" (click)="openFile(staff.photoContentType, staff.photo)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="staff.photo">{{ staff.photoContentType }}, {{ byteSize(staff.photo) }}</span>
                    </td>
                    <td>{{ staff.isTeachingStaff }}</td>
                    <td>{{ staff.status }}</td>
                    <td>{{ staff.salary }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/staff', staff.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/staff', staff.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(staff)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
