<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="busRouteName">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.busRouteName.detail.title">Bus Route Name</span> {{ busRouteName.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.busRouteName.routeName">Route Name</span></dt>
                <dd>
                    <span>{{ busRouteName.routeName }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.busRouteName.busRoute">Bus Route</span></dt>
                <dd>
                    <div *ngIf="busRouteName.busRoute">
                        <a [routerLink]="['/bus-route', busRouteName.busRoute?.id, 'view']">{{ busRouteName.busRoute?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bus-route-name', busRouteName.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
