<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bus-route-name-heading" jhiTranslate="jhipsterSampleApplicationApp.busRouteName.home.createOrEditLabel">Create or edit a Bus Route Name</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.busRouteName.routeName" for="field_routeName">Route Name</label>
                    <input type="text" class="form-control" name="routeName" id="field_routeName"
                           formControlName="routeName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.busRouteName.busRoute" for="field_busRoute">Bus Route</label>
                    <select class="form-control" id="field_busRoute" name="busRoute" formControlName="busRoute">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="busRouteOption.id === editForm.get('busRoute')!.value?.id ? editForm.get('busRoute')!.value : busRouteOption" *ngFor="let busRouteOption of busroutes; trackBy: trackById">{{ busRouteOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
